<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>CV_Management</title>

    <!-- Bootstrap core CSS -->
    <link href="bootstrap-4.3.1-dist/css/bootstrap.css" rel="stylesheet">
    <link href="bootstrap-4.3.1-dist/css/bootstrap-grid.css" rel="stylesheet">
    <link href="bootstrap-4.3.1-dist/css/bootstrap-reboot.css" rel="stylesheet">
    <link href="css/general.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/css/bootstrap-multiselect.css" />
    <link rel="stylesheet" href="asset/css/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

</head>
<body>
<!--menu-->
<aside id="left-panel" class="left-panel">
<div w3-include-html="Menu.html"></div>
</aside>
<!--/menu-->

<!-- Header-->
    <div id="right-panel" class="right-panel">
        <div w3-include-html="Head.html"></div>

        <div class="breadcrumbs">
            <div class="col-sm-4">
                <div class="page-header float-left">
                    <div class="page-title">
                        <h1>Quản lý CV</h1>
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="page-header float-right">
                    <div class="page-title">
                        <ol class="breadcrumb text-right">
                            <li class="active">Danh sách CV</li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-12">
            <div class="card">
                <div class="card-body card-block">
                    <div class="col-lg-8">
                            <div class="row">
                                <div class="col-sm-6">
                                    <p>
                                    <div style="text-align: left">Họ tên</div>
                                    <span><input class="form-control" id="edit-hoten" ></span>
                                    </p>

                                    <p>
                                    <div style="text-align: left">Vị Trí</div>
                                    <span>
                                       <select id="select-vitri" name="framework[]" multiple class="form-control" >
                                       </select>
                                    </span>
                                    </p>

                                </div>
                                <div class="col-sm-6">
                                    <p>
                                    <div style="text-align: left">Địa điểm</div>
                                    <span>
                                        <select class="form-control" id="select-diadiem" name="framework[]" multiple >

                                        </select>
                                    </span>
                                    </p>
                                    <p>
                                    <div style="text-align: left">Đơn vị</div>
                                    <span>
                                        <select class="form-control" id="select-donvi" ame="framework[]" multiple>

                                        </select>
                                    </span>
                                    </p>

                                </div>

                            </div>
                    </div>

                    <div class="col-lg-4">
                        <button id="btn-search" class="btn btn-primary mt-lg-5">Tìm Kiếm</button>
                    </div>

                </div>
            </div>
            <br>


            <div class="col-lg-12">
                <div class="card">
                    <div class="card-header text-center "><strong>Danh sách ứng viên</strong></div>
                    <div class="card-body card-block">

                        <ul id="cv-list">
                            <!--<li class="row cvinfo-ele-able">-->
                                <!--<div class="col-lg-2">-->
                                    <!--<img src="images/avata.png" style="width: 120px">-->
                                <!--</div>-->
                                <!--<div class="col-lg-8">-->
                                    <!--<div style="font-size: 28px">-->
                                        <!--<strong>Nguyễn Duy Hưng</strong>-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--Java-->
                                    <!--</div>-->
                                    <!--<div>-->
                                        <!--Hà Nội-->
                                    <!--</div>-->
                                <!--</div>-->
                                <!--<div class="col-lg-2">-->
                                    <!--30/03/2019-->
                                <!--</div>-->
                            <!--</li>-->
                        </ul>

                    </div>
                </div>
            </div>

        </main>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog" style="max-width: 800px;width: auto" >

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Modal Header</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <div class="panel panel-default" style="border: solid 1px #cddbd1;">
                    <!--  ================= Personal information =================== -->
                    <!--  ================================================ -->
                    <div class="panel-heading text-center">Thông tin cá nhân</div>
                    <div class="panel-body">
                        <div class="row form-group">
                            <div class="col-xs-6 col-md-2">
                                <!--<div class="left-profile image-profile text-center"-->
                                <!--ng-model="vm.file"-->
                                <!--ngf-select="vm.selectFiles($files, $invalidFiles)"-->
                                <!--accept="*image/*"-->
                                <!--ngf-max-size="10MB">-->
                                <!--<p ng-if="vm.file.length <= 0">image here</p>-->
                                <!--<img ngf-src="vm.file" ngf-accept="'image/*'" style="width: 100%; height:100%;">-->
                                <!--</div>-->
                                <div class="left-profile image-profile text-center margin-top-10">
                                    <!----><p ng-if="vm.student.candidateProfile==null">image here</p><!---->
                                    <!-- <img  ngf-src="vm.file" ngf-accept="'image/*'" style="width: 100%; height:100%"> -->
                                    <img height="160" width="130" title="" alt="">
                                </div>
                            </div>
                            <div class="col-md-10">
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label>Họ tên: </label>
                                        <input id="hoten" type="text" class="form-control">
                                    </div>
                                    <div class="col-md-6">
                                        <label >Số điện thoại:</label>
                                        <input id="sodt" type="text" class="form-control">                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-md-6">
                                        <label>Đơn vị up: </label>
                                        <input id="donvi" type="text" class="form-control">                                    </div>
                                    <div class="col-md-6">
                                        <label>Địa điểm: </label>
                                        <input id="diadiem" type="text" class="form-control">                                    </div>
                                </div>
                                <div class="row form-group">

                                    <div  id="div-vitri" class="col-md-6">
                                        <label >Vị trí: </label>
                                        <!--<select id="vitri" name="framework[]" multiple="multiple" class="form-control" >-->
                                            <!--option value="Test">Test</option>-->
                                            <!--<option value="Prof">Prof</option>-->
<!--                                            <option value="Live">Live</option>-->
<!--                                            <option value="Off">Off</option>-->
<!--                                            <option value="On">On</option>-->
                                        </select>
                                    </div>

                                    <div class="col-md-6">
                                        <label >File CV: </label>
                                        <input id="file" type="text" class="form-control">                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Lưu</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<style>.dropdown-toggle::after{display: none} .form-control{border-radius: unset; box-shadow: none} label{font-weight: unset}</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-3-typeahead/4.0.2/bootstrap3-typeahead.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-multiselect/0.9.13/js/bootstrap-multiselect.js"></script>
<script src="http://www.w3schools.com/lib/w3data.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!--<script src="vendors/popper.js/dist/umd/popper.min.js"></script>-->
<script src="asset/js/main.js"></script>
<script src="js/general.js"></script>
<script src="js/manageStaff.js"></script>
<script>
    w3IncludeHTML();
</script>



</body>
</html>
